@import '../../styles/variable.scss';

@mixin notificationMessage {
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25px);
}

.user-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  min-height: 148px;
  .user-form-forgot-password {
    text-align: center;
    cursor: pointer;
    color: $lightBlue;
    &:hover {
      color: $blue;
    }
  }
  .user-form-error-message {
    @include notificationMessage;
    color: $error;
  }
  .user-form-success-message {
    @include notificationMessage;
    color: $success;
  }
}
